/starparse-shared/target/
/starparse-client/target/
/starparse-client/sounds
/starparse-client/starparse-attacks.xml
/starparse-client/starparse-timers.xml
/starparse-client/starparse.log
/starparse-client/starparse.xml
/starparse-client/icons
.idea/
starparse-client/starparse-client.iml
starparse-shared/starparse-shared.iml
starparse.iml
starparse.log
starparse.xml
