.popout {
	-fx-font: 8pt "System";
}

.button {
	-fx-font: bold 10px "System"; /* multiplication of .popout and title */
}

.combat-stats .bigger {
	-fx-font: bold 20px "System";
}

.time {
	-fx-font: 20px "System";
}