#root {
	-fx-font: 11px "System";
}

#buttons .toggle-button,
#toolbar .button {
	-fx-padding: 2px 8px 3px 8px;
}

.context-menu {
	-fx-padding: 4px 1px 8px 1px;
}

.menu-bar .menu-item > .label,
.check-item {
	-fx-font-size: 13px;
}

#combatName, #combatTime, #characterName {
	-fx-font-size: 12px;
}

.timeline-phase-label {
	-fx-font-size: 8px;
}

.timeline-handle-label {
	-fx-font: 11px "System"; /* dynamic */
}

.timeline-tick {
	-fx-font: 9px "System"; /* dynamic */
}

.list-cell {
	-fx-padding: 2px;
}

.table-view .column-header .label {
	-fx-font-size: 11px;
}

.check-item {
	-fx-padding: 2px;
}

.check-item .box > .mark {
	-fx-padding: 4px;
}

.tooltip {
	-fx-font: 12px "System"; /* dynamic */
}

.modal-title {
	-fx-font: 12px "System";
}

#dialogRoot {
	-fx-font: 11px "System";
}

.flash-message {
	-fx-font-size: 11px;
}

.tree-cell {
	-fx-padding: 2px 0.0em;
}

.tree-cell .label {
	-fx-padding: 2px 0.0em;
}
