.root {
    /*-fx-background-selected: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);*/
    -fx-background-selected: -fx-accent;
    /*-fx-background-hover: #0093ff;*/
    -fx-background-hover: -fx-accent;
}

.wrapper {
    -fx-padding: 10;
    -fx-background-color: transparent;
}

#root {
    -fx-border-color: -fx-black-line-color;
    -fx-border-width: 1px;
    -fx-border-radius: 0px;
    -fx-background-color: transparent;
    -fx-font: .9em "System";
}

#header {
}

#buttons .toggle-button,
#toolbar .button {
    -fx-padding: .15em .8em .25em .8em;
}

#toolbar #darkModeButton {
}

#buttons .toggle-button:hover,
#toolbar .button:hover {
    -fx-cursor: hand;
}

#buttons .toggle-button:selected {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, limegreen 0%, green 100%);
    -fx-text-fill: -fx-light-text-color;
}

#buttons .toggle-button-inter:selected {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, yellow 0%, gold 100%);
    -fx-text-fill: -fx-black-line-color;
}

#logo {
}

.menu-bar {
    -fx-background-color: transparent;
}

.context-menu {
    -fx-color: -fx-base;
    -fx-background-color:
            derive(-fx-color, -40%),
            derive(-fx-color, 100%),
            linear-gradient(to bottom, derive(-fx-color, 100%) 0%, derive(-fx-color, 50%) 12%, derive(-fx-color, 65%) 88%, derive(-fx-color, 23%) 100%);
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}

.menu-bar {
    -fx-padding: 0;
}

.menu-bar .menu-item > .label,
.check-item {
    -fx-font-size: 1em;
}

.menu-bar .menu-item:focused > .label,
.check-item:hover {
}

.menu-bar .separator > .line {
    -fx-border-color: -fx-mid-line-color transparent transparent transparent;
    -fx-border-insets: 0;
}

.label-separator .line {
    -fx-border-width: 0 0 1px 0;
}

.label-separator .label {
}

Text {
    -fx-fill: -fx-soft-text;
    -fx-font-smoothing-type: lcd;
}

/**
 * Combat header
 */

.combat-head {
}

.tab-pane .tab-header-background {
    -fx-border-width: 0 0 1px 0;
    -fx-effect: null;
}

#combat-list-menu {
    -fx-background-color: -fx-background-gradient;
    -fx-border-width: 1px 1px 1px 0;
}

#characterPane, #headCombat {
    -fx-border-width: 1px 0 1px 0;
    -fx-background-color: -fx-background-gradient;
}

#combatName, #combatTime, #characterName {
    -fx-font-size: 1em;
}

#combatName {
    -fx-font-weight: bold;
}

.combat-time {
}

#characterNameMenu,
#characterNameReset {
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-cursor: hand;
}

#characterName.disabled #characterNameMenu {
    -fx-cursor: arrow;
}

#characterName > #characterNameMenu > .arrow-button {
    -fx-padding: 0 5px 0 0;
}

#characterName.disabled > #characterNameMenu > .arrow-button,
#characterName.disabled > #characterNameMenu > .arrow-button > .arrow {
    -fx-padding: 0;
}

#characterName.other-actor {
    -fx-background-color: -fx-background-selected;
    -fx-text-fill: -fx-light-text-color;
}

#trashButton {
    -fx-text-fill: -fx-soft-text;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
    -fx-effect: inherit;
}

/**
 * Timeline
 */
.timeline-axis {
}

.timeline-handle {
    -fx-stroke-type: outside;
}

.timeline-handle-inner {
    -fx-fill: linear-gradient(from 0% 0% to 0% 100%, #eee 0%, silver 100%);
}

.timeline-phase {
    -fx-border-width: 1px 1px 1px 0;
    -fx-cursor: hand;
    -fx-opacity: .5;
}

.timeline-phase-damage {
    -fx-border-width: 0;
    -fx-background-color: -fx-damage;
    -fx-opacity: .2;
}

.timeline-phase-label {
    -fx-font-size: .87em;
    -fx-cursor: hand;
}

.timeline-phase-hover {
    -fx-border-width: 0;
}

.timeline-phase-damage.timeline-phase-hover {
    -fx-background-color: #ffcccc;
}

.timeline-phase-selected {
    -fx-border-color: #0093ff;
    -fx-background-color: -fx-background-selected;
    -fx-opacity: 1;
}

.timeline-phase-damage.timeline-phase-selected {
}

.timeline-phase-label-selected {
}

.timeline-tick-line {
}

.timeline-handle-label {
    -fx-font: .85em "System"; /* dynamic */
}

.timeline-handle-sign {
    -fx-border-radius: 4;
    -fx-border-width: 1px;
    -fx-background-insets: 1px;
    -fx-padding: 2px;
}

.timeline-tick {
    -fx-font: .85em "System"; /* dynamic */
}

/**
 * Bottom status
 */

#status {
    -fx-border-width: 1px 0 0 0;
}

#statusMessage {
}

/**
 * Tables
 */

.list-view,
.list-view:focused {
    -fx-border-width: 0 1px 0 0;
    -fx-border-radius: 0;
    -fx-background-insets: 0;
}

.list-cell {
    -fx-border-width: 1px 0 1px 0;
    -fx-padding: 0.25em;
}

.combo-box .list-cell { /* java7 */
}

.list-cell .label {
    -fx-padding: 0;
}

.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding: 0;
}

.list-cell:even { /* <=== changed to even */
}

.list-cell:filled:selected:focused,
.list-cell:filled:selected,
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover,
.menu-bar .menu-item:hover {
    -fx-background-color: -fx-background-selected;
}

.combo-box > .list-cell {
    -fx-text-fill: -fx-light-text-color;
}

.list-cell:filled:hover,
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover {
    -fx-background-color: -fx-background-hover;
}

.list-cell .combat-title.label {
}

.list-cell .combat-time.label {
}

.list-cell.combat-pvp .combat-title.label {
    -fx-font-weight: bold;
    -fx-text-fill: -fx-damage;
}

.list-cell.combat-boss .combat-title.label {
    -fx-font-weight: bold;
}

.list-cell:filled:hover .combat-title.label,
.list-cell:filled:selected:focused .combat-title.label,
.list-cell:filled:selected .combat-title.label,
.list-cell:filled:hover .combat-time.label,
.list-cell:filled:selected:focused .combat-time.label,
.list-cell:filled:selected .combat-time.label {
    -fx-text-fill: -fx-light-text-color;
}

.list-cell.combat-pvp:filled:hover .combat-title.label,
.list-cell.combat-pvp:filled:selected:focused .combat-title.label,
.list-cell.combat-pvp:filled:selected .combat-title.label {
    -fx-text-fill: -fx-light-text-color;
}

.content {
}

.combat-stats {
    -fx-border-width: 1px 1px 1px 0;
    -fx-padding: 5px;
}

.combat-stats .ps, .total-damage, .total-healing {
    -fx-font-weight: bold;
}

.combat-stats .damage, .total-damage, #damageTaken {
    -fx-text-fill: -fx-damage;
}

.combat-stats .damage2 {
    -fx-text-fill: derive(red, +50%);
}

.combat-stats .healing {
    -fx-text-fill: -fx-heal;
}

.combat-stats .healing-eff, .total-healing, #healingTaken {
    -fx-text-fill: -fx-heal-eff;
}

.combat-stats .threat {
    -fx-text-fill: -fx-threat;
}

.combat-stats .absorbed {
    -fx-text-fill: -fx-absorb;
}

.combat-stats .apm,
.combat-stats .damage,
.combat-stats .healing,
.combat-stats .healing-eff,
.combat-stats .threat,
.combat-stats .absorbed {
}

.combat-stats .taken {
}

/***
 * Panes
 */

.scroll-pane {
    -fx-background-insets: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

/**
 * Tables
 */

.table-row-cell:empty {
    -fx-background-color: transparent;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.table-view {
    -fx-border-width: 1px 0 0 0;
    -fx-padding: 0;
    -fx-focus-color: transparent;
}

.table-view .column-header .label {
    -fx-alignment: center;
    -fx-font-size: 1em;
}

.table-view .table-cell {
    -fx-border-width: 1 0 0 0;
}

.table-view .table-cell:focused:selected .text {
}

.table-view .damage-dealt {
    -fx-text-fill: -fx-damage;
}

.table-view .damage-taken {
    -fx-text-fill: -fx-damage-taken;
}

.table-view .healing-done {
    -fx-text-fill: -fx-heal;
}

.table-view .healing-eff-done {
    -fx-text-fill: -fx-heal-eff;
}

.table-view .threat {
    -fx-text-fill: -fx-threat;
}

.table-view .absorbed {
    -fx-text-fill: -fx-absorb;
}

.table-view .healing-taken {
    -fx-text-fill: -fx-heal;
}

.table-view .mitigated {
    -fx-text-fill: -fx-mitigation;
}

#root .table-view .table-row-cell:filled:hover {
}

#root .table-view .table-row-cell:filled:selected {
}

.rank-95 {
    -fx-text-fill: #e58738;
}

.rank-75 {
    -fx-text-fill: #b82cb8;
}

.rank-50 {
    -fx-text-fill: #0070FF;
}

.rank-25 {
    -fx-text-fill: #1EFF00;
}

.rank-0 {
    -fx-text-fill: #666;
}

.rank {
    -fx-text-fill: #666;
}

#combatLogTable {
    -fx-table-cell-border-color: transparent;
    -fx-table-cell-padding: 0;
}

.table-view .event-activated {
}

.table-view .event-actor-enemy {
}

.table-view .event-actor-ally {
}

.table-view .totals-row {
}

.check-box:hover {
    -fx-cursor: hand;
}

.check-item-menu {
    -fx-padding: 0;
}

.check-item {
    -fx-padding: .2em;
}

.check-item .box {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.check-item .box > .mark {
}

.check-item:selected .box > .mark {
}

.check-item:hover:selected .box > .mark {
}

.check-item:hover:selected {
}

#root .table-view {
}

#root .table-view .table-row-cell:focused {
    -fx-background-color: -fx-table-cell-border-color, -fx-control-inner-background;
    -fx-background-insets: 0, 0 0 1 0;
}

.progress-bar-text {
}

.progress-bar > .bar {
    -fx-padding: 0px;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.progress-bar > .track {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-box-border: transparent;
    -fx-background-color: transparent;
}

/**
 * Damage dealt
 */
.table-view .bolden {
    -fx-font-weight: bold;
}

/**
 * Effects
 */
#procsTable, #actTable, #givTable, #recTable {
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}

.simple-table .table-view .column-header .label,
.simple-table .table-view .filler {
}

.simple-table .table-view .column-header-background {
}

.simple-table .table-view .column-header,
.simple-table .table-view .filler {
}

.simple-table {
}

.simple-table .table-view .table-cell {
    -fx-background-color: transparent;
}

#root .selected-overlay-none {
}

#root .selected-overlay-none:even {
}

#root .selected-overlay-none:hover {
}

#root .selected-overlay-0 {
    -fx-base-color: #ff3e3e;
    -fx-fill: -fx-base-color;
    -fx-background-color: derive(-fx-base-color, +60%);
}

#root .selected-overlay-1 {
    -fx-base-color: #32cd32; /* limegreen */
    -fx-fill: -fx-base-color;
    -fx-background-color: derive(-fx-base-color, +60%);
}

#root .selected-overlay-2 {
    -fx-base-color: #269b9b;
    -fx-fill: -fx-base-color;
    -fx-background-color: derive(-fx-base-color, +60%);
}

#root .selected-overlay-3 {
    -fx-base-color: #ff963e;
    -fx-fill: -fx-base-color;
    -fx-background-color: derive(-fx-base-color, +60%);
}

#root .selected-overlay-4 {
    -fx-base-color: #cd31cc;
    -fx-fill: -fx-base-color;
    -fx-background-color: derive(-fx-base-color, +60%);
}

#root .selected-overlay-5 {
    -fx-base-color: gray;
    -fx-fill: -fx-base-color;
    -fx-background-color: derive(-fx-base-color, +60%);
}

/**
 * Charts
 * ----------------------------------------------------------------------------
 */

.chart-legend {
    -fx-background-color: transparent;
    -fx-padding: 0 45px 0 0;
    -fx-margin: 0;
}

.chart-legend .label {
}

.chart-legend .legend-symbol {
    -fx-stroke-width: 2px;
}

.chart-overlay-button {
    -fx-background-color: transparent;
    -fx-margin: 0;
    -fx-padding: 0px;
    -fx-cursor: hand;
}

.chart-overlay-button:hover {
}

.chart-area-symbol {
    -fx-background-color: null, null;
    -fx-shape: "";
}

.chart-content {
    -fx-padding: 10px 0 0 0;
}

.chart-plot-background {
}

.chart-plot-background:even {
}

.chart .chart-series-line {
    -fx-stroke-width: 1px;
    -fx-effect: null;
}

.axis {
}

.axis-label {
}

.chart-vertical-grid-lines {
    -fx-stroke: -fx-light-line-color;
    -fx-stroke-dash-array: null;
}

.chart-horizontal-grid-lines {
    -fx-stroke: -fx-light-line-color;
    -fx-stroke-dash-array: null;
}

.chart-alternative-column-fill {
    -fx-fill: null;
    -fx-stroke: null;
}

.chart-alternative-row-fill {
    -fx-fill: -fx-control-inner-background-alt;
    -fx-stroke: null;
}

.chart-vertical-zero-line,
.chart-horizontal-zero-line {
    -fx-stroke: -fx-mid-line-color;
}

.chart-dps .default-color0 {
    -fx-stroke: red;
}

.chart-damage .default-color0 {
    -fx-stroke: -fx-damage;
}

.chart-hps .default-color0 {
    -fx-stroke: -fx-heal;
}

.chart-hps .default-color1 {
    -fx-stroke: -fx-heal-eff;
}

.chart-healing .default-color0 {
    -fx-stroke: -fx-heal;
}

.chart-dtps .default-color0 {
    -fx-stroke: red;
}

.chart-damage-taken .default-color0 {
    -fx-stroke: -fx-damage-taken;
}

.chart-damage-taken .default-color1 {
    -fx-stroke: -fx-heal-eff;
}

.chart-damage-taken .default-color2 {
    -fx-stroke: -fx-damage;
}

.raid-title {
    -fx-font-weight: bold;
}

.raid-players {
}

.raid-death {
    -fx-background-radius: 3;
    -fx-padding: 0 3px;
    -fx-cursor: hand;
}

.raid-death-inter {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, yellow 0%, gold 100%);
    -fx-text-fill: #444;
}

.raid-death-active {
    -fx-background-color: -fx-background-selected;
    -fx-text-fill: -fx-light-text-color;
}

/**
 * Tooltip
 */
.tooltip {
    -fx-background-radius: 2 2 2 2;
    -fx-font: 1em "System"; /* dynamic */
}

.page-corner {
    -fx-shape: " ";
}

.root {
}

.modal-dialog {
    -fx-padding: 1px;
    -fx-border-width: 1;
    -fx-background-insets: 12;
    -fx-border-insets: 10;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}

.modal-title {
    -fx-font: 1em "System";
    -fx-padding: 5px;
    -fx-border-width: 0 0 1px 0;
}

.modal-title .text {
    -fx-fill: #444;
}

.modal-title .button {
}

.modal-title .button:hover {
}

.modal-text {
    -fx-border-width: 1px 0 0 0;
    -fx-border-color: white silver silver silver;
    -fx-padding: 5px;
}

.modal-buttons {
    -fx-padding: 15px 10px;
    -fx-cursor: hand;
}

#dialogRoot {
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-font: .9em "System";
}

#dialogRoot.tab-pane .tab-header-background {
    -fx-background-color: transparent;
}

#dialogRoot.tab-pane .tab-content-area {
    -fx-border-width: 0 1px 1px 1px;
}

.changelog {
    -fx-padding: 5px;
}

.changelog .label {
    -fx-padding: 5px;
}

/**
 * Forms
 */
.modal-dialog .text-field {
    -fx-background-color: -fx-shadow-highlight-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-padding: 0.25em 0.416667em  0.333333em 0.416667em; /* 3 5 4 5 */
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3, 2, 2;
    -fx-text-fill: -fx-text-inner-color;
    -fx-cursor: text;
}

.modal-dialog .color-picker {
    /*-fx-background-color: #e5e5e5;*/
}

.modal-dialog .check-box {
    -fx-background-color: transparent;
}

.modal-dialog .input-error {
}

.modal-dialog .input-nondefault {
}

.modal-dialog .input-updated {
}

/**
 * Flashes
 */
.flash-message {
    -fx-border-width: 1;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-padding: 0;
}

.flash-message .label {
    -fx-padding: 5px;
}

.flash-error {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #ffcccc 0%, derive(#ffcccc, +50%) 100%);
    -fx-border-color: derive(maroon, +100%);
}

.flash-error .label,
.flash-error .button {
    -fx-fill: maroon;
    -fx-text-fill: maroon;
}

.flash-success {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, lightgreen 0%, derive(lightgreen, +50%) 100%);
    -fx-border-color: derive(darkgreen, +100%);
}

.flash-success .label,
.flash-success .button {
    -fx-fill: darkgreen;
    -fx-text-fill: darkgreen;
}

.flash-info {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, lightblue 0%, derive(lightblue, +50%) 100%);
    -fx-border-color: derive(darkblue, +100%);
}

.flash-info .label,
.flash-info .button {
    -fx-fill: darkblue;
    -fx-text-fill: darkblue;
}

.tree-cell {
    -fx-padding: 0.2em 0.0em;
    -fx-indent: 0;
}

.tree-cell .label {
    -fx-padding: 0.2em 0.0em;
}

.tree-cell:hover,
.tree-cell:selected {
    -fx-background-color: -fx-background-selected;
    -fx-text-fill: -fx-light-text-color;
}

.disabled {
    -fx-fill: gray;
}